// @forward "base";
// @forward "default-settings";
// @forward "mixins";
// @forward "personal-classes";
// @forward "responsive";
// @forward "variables";
// @use "mixins" as *;
// @use "variables" as *;
@import "default-settings";
@import "vuetify-settings";
@import "mixins";
@import "custom-mixins";
@import "personal-classes";
@import "responsive";
@import "variables";
@import "fonts";
@import "typography";



//===================================== global ======================================//

//- menu select (desplegable menu) -//
.v-menu__content {
  overscroll-behavior: contain;

  .v-list-item {
    &__title {
      color: #000 !important;
      font-family: var(--font2);
      font-size: 11px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: .2em;
      text-transform: uppercase;
    }

    &--active {
      
      .v-list-item__title { color: #fff !important }
      background-color: var(--primary) !important;
    }
  }
}


.bg-circle-modal {
  pointer-events: none !important;
  z-index: -1 !important;
  transform: translateX(10%) !important
}

.bg-circle {
  pointer-events: none !important;
  position: fixed !important;
  display: grid !important;
  place-items: center !important;
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;

  img { transform: translateX(10%) !important }
}

.big-title {
  font-family: var(--font5) !important;
  font-size: 100px !important;
  letter-spacing: 3.9px !important;
}

.btn-icon, .v-btn.btn-icon {
  --c: #fff !important;
  --size: 31px;

  background-color: var(--bg, #000) !important;
  border-radius: var(--br, 10px) !important;
  min-width: var(--size) !important;
  width: var(--size) !important;
  min-height: var(--size) !important;
  height: var(--size) !important;
  padding: var(--p, 0) !important;
  border: var(--b, none);
  box-shadow: var(--bs, none) !important;
  span {
    color: var(--c) !important;
    font-family: var(--font3) !important;
    font-weight: var(--fw, 400) !important;
    font-size: var(--fs, 10px);
    line-height: 1 !important;
    letter-spacing: 3px !important;
    text-transform: var(--tt, uppercase);
  }
}

.btn, .v-btn.btn {
  --c: #fff !important;
  --h: 45px;

  min-height: var(--h);
  background: var(--bg, #000) !important;
  border-radius: var(--br, 10px) !important;
  box-shadow: var(--bs, none) !important;
  span {
    color: var(--c) !important;
    font-family: var(--ff, var(--font4)) !important;
    font-weight: var(--fw, bold) !important;
    font-size: var(--fs, 10px);
    line-height: 1 !important;
    letter-spacing: var(--ls, 3.9px) !important;
    text-transform: var(--tt, uppercase);
  }
}

.btn-outline, .v-btn.btn-outline {
  --c: var(--primary) !important;
  --h: 45px;

  min-height: var(--h);
  background: var(--bg, var(--card)) !important;
  border: var(--b, 1px solid var(--primary));
  border-radius: var(--br, 10px) !important;
  box-shadow: var(--bs, none) !important;
  span {
    color: var(--c) !important;
    font-family: var(--font4) !important;
    font-weight: var(--fw, bold) !important;
    font-size: var(--fs, 10px);
    line-height: 1 !important;
    letter-spacing: 3.9px !important;
    text-transform: var(--tt, uppercase);
  }
}

.dual-btn {
  --br-dual: 10px;

  display: flex;
  border-radius: var(--br-dual);

  > * { flex: 1 1 !important }
  > :first-child { --br: var(--br-dual) 0 0 var(--br-dual) }
  > :last-child { --br: 0 var(--br-dual) var(--br-dual) 0 }
}


.btn-group-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: transparent !important;
  gap: 10px;
  width: 100%;

  .v-btn {
    @extend .btn;
    --bg: var(--primary);
    --c: #fff;
    --ls: .03em;
    --ff: var(--font3);
    --fs: 10px;
    --fw: 400;

    min-width: 45.51px;
    min-height: 35px !important;
    flex: 1 1 var(--basis, 40px);
    padding-inline: 8px !important;

    span {
      justify-content: space-between;
      width: 100%;
      height: 100%;
      white-space: initial;
      text-align: left;
    }

    &.active {
      background: #D6DAE2 !important;
      outline: 1.5px solid #000 !important;
      * { color: #000 !important }

      span:after {
        content: "";
        width: 14px;
        height: 14px;
        background: center no-repeat url(../../sources/icons/checked.svg);
        background-size: cover;
      }
    }
  }
}

.v-input--checkbox.btn-radio {
  $size: 15px;
  margin-top: 0 !important;

  i {
    font-size: 15px !important;
    outline: 1px solid #000 !important;
    color: #fff !important;
    border-radius: 50% !important;
  }
  .v-input--selection-controls__input {
    position: relative !important;
    display: grid !important;
    place-items: center !important;
    place-content: center !important;
  }

  .v-input--selection-controls__ripple,
  .v-input__slot {
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    width: $size !important;
    height: $size !important;
  }
}

.v-radio {
  --c: #000000;

  i {
    border: var(--b, 3px solid var(--card));
    background-color: var(--bg, #fff);
    border-radius: 50%;
  }

  label {
    font-family: var(--ff, var(--font4)) !important;
    font-size: var(--fs, 11px);
    font-weight: var(--fw, 400);
    line-height: var(--lh, 12.1px);
  }
}

.card, .v-card.card {
  background: var(--bg, var(--primary)) !important;
  border: var(--b, none) !important;
  border-radius: var(--br, 10px) !important;
}

.card-outline, .v-card.card-outline {
  background: var(--bg, var(--card)) !important;
  border-radius: var(--br, 20px) !important;
  border: var(--b, 1px solid #333333) !important;
}

.custom-card {
  span {
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 10.89px !important;
    letter-spacing: -0.01em !important;

    strong { font-weight: 600 !important }
  }

  h6 {
    --ff: var(--font3);
    --fs: 11px;
    --ls: 0.03em;
    margin-bottom: 0;
  }

  h5 {
    --ff: var(--font3);
    --fs: 16px;
    --lh: 16px;
    margin-bottom: 0;
  }
}

.tooltip {
  background-color: var(--color, #BFFBFA) !important;
  border-radius: 10px !important;
  min-height: 41.66px !important;
  display: flex !important;
  align-items: center !important;
  position: relative;

  font-family: var(--font4) !important;
  font-size: 10px !important;
  font-weight: 500 !important;
  line-height: 9.35px !important;
  box-shadow: 0px 1px 4px 0px #00000040;

  &:after {
    --size: 8px;
    content: "";
    position: absolute;
    bottom: calc(var(--size) * -1);
    left: 0;
    right: 0;
    margin-inline: auto;

    width: 0;
    height: 0;
    border-left: calc(var(--size) / 1) solid transparent;
    border-right: calc(var(--size) / 1) solid transparent;
    border-top: var(--size) solid var(--color, #BFFBFA);
    filter: drop-shadow(0px 4px 4px #00000040);
  }
}
