#history {
  @include parent;
  padding-inline: var(--margin-global);
  padding-bottom: calc(var(--margin-footer-min) + 30px);

  &__content {
    --width: 151px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--width)), 1fr));
    gap: 15px;
    grid-auto-rows: 158px;

    > :only-child { max-width: var(--width) !important }
  }
}
