#history {
  @include parent;
  padding-inline: var(--margin-global);
  padding-bottom: calc(var(--margin-footer-min) + 30px);


  .history-card {
    img + div {
      span {
        font-size: 10px !important;
        font-weight: 400 !important;
        line-height: 10.89px !important;
        letter-spacing: -0.01em !important;

        &:first-child {
          font-family: var(--font3) !important;
          font-size: 11px !important;
          letter-spacing: 0.03em !important;
        }

        strong { font-weight: 600 !important }
      }

      ~ span {
        font-family: var(--font3) !important;
        font-size: 16px !important;
        line-height: 16px !important;

        + span { font-size: 12px !important }
      }
    }
  }


  .controls {
    .v-input {
      --h: 35px;
      --ls: 0.05em;
      --ff: var(--font1);
      --p: 0 0 0 12px;
      --fs: 11px;
      font-size: 11px;
    }

    .v-btn {
      --size: 35px;
    }
  }


  &__opened, .grid {
    --width: 151px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--width)), 1fr));
    gap: 15px;
    grid-auto-rows: 158px;

    > :only-child { max-width: var(--width) !important }
  }
}
